/* Write your CSS here */
.table-data-container {
  display: flex;
  border: 1px solid #cbd5e1;
  border-top: none;
  padding: 12px 12px;
  gap: 20px;
}
.table-data {
  /* border: 1px solid red; */
  color: #7e858e;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (max-width: 767px) {
  .table-data {
    font-size: 12px;
  }
}
.delete-btn {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
.delete-img {
  width: 20px;
}
